<form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="form-group">
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" required ngModel name="email" #email="ngModel" class="form-control" id="email"
                aria-describedby="emailHelp">
            <div class="alert alert-danger " *ngIf="email.touched && !email.valid">Email is Required</div>

        </div>
    </div>
    <div class="form-group">
        <div class="mb-3">
            <label for="firstName" class="form-label">First Name</label>
            <input type="text" required ngModel name="firstName" #firstName="ngModel" class="form-control"
                id="firstName">
            <div class="alert alert-danger " *ngIf="firstName.touched && !firstName.valid">First Name is Required</div>
        </div>
    </div>
    <div class="form-group">
        <div class="mb-3">
            <label for="lastName" class="form-label">Last Name</label>
            <input type="text" required ngModel name="lastName" #lastName="ngModel" class="form-control" id="lastName">
            <div class="alert alert-danger " *ngIf="lastName.touched && !lastName.valid">Last Name is Required</div>
        </div>
    </div>

    <div class="form-group">
        <div class="mb-3">
            <label for="language">Choose Language</label>

            <select ngModel name="language" id="language" #langauage="ngModel" class="form-control">
                <option *ngFor="let option of optionValues" [value]="option.id">{{option.language}}</option>

            </select>

        </div>
    </div>

    <div class="form-group">
        <div class="mb-3 radio" *ngFor="let radioButton of radioButtons">
            <label>
                <input ngModel type="radio" name="radio" class="form-control" id="radio" [value]="radioButton.id">
                {{radioButton.gender}}
            </label>
        </div>
    </div>
    <div class="form-group">
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="check">
            <label class="form-check-label" for="check">Check me out</label>
        </div>
    </div>
    <div>{{f.value | json}}</div>
    <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Submit</button>
</form>